
body {
	font-family: 'preconnect';
    
}
.banner {
    position: relative;
    height: 400px;
    background: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0.13)), url('background.JPG'); /* Градиент + изображение */
    background-size: cover;
    background-position: center;
  }
  
  /* Заголовок на баннере */
  .banner-title {
    text-align: center;
    padding: 20px 0;
    background-color: #f8f9fa; /* Легкий фон для заголовка */
  }
  
  .banner-title h1 {
    font-size: 80px;
    color: #333;
    margin: 0;
  }

  
  
.property-card img {
  max-height: 200px;
  object-fit: cover;
}
.contacts {
  background-color: #f8f9fa;
  padding: 30px 0;
}


/* Стиль для хедера */
.header {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.75)), url('path_to_your_background_image.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
}

.header p {
  font-size: 14px;
  margin-bottom: 0;
}

.header a {
  font-size: 16px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.header a:hover {
  color: #f8f9fa;
  text-decoration: underline;
}

.text-md-end {
  text-align: right;
}

.text-light {
  color: #f8f9fa !important;
}

/* Отступы и выравнивание */
.header .container {
  padding: 0 15px;
}

.header .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
